extends layout

block content
    div.container
        div.container.header
            h1.mLogo Car Shop
            ul
                li Home
                li Shop
                li About
        div.container.content
            div.catalogueHeader
                h2 some Title
            div.catalogueContent
                div.catalogueSideBar
                    h3 CATEGORIES 
                    ul
                        li Brands
                        li Cars
                        li Car Type
                div.catalogueItems
                    div
                    div
                    div
        div.container.footer