extends layout

block content
    div.container
        div.container.header
            h1.mLogo Car Shop
            ul
                li 
                    a(href="/") Home
                li Shop
                li About
        div.container.content
            div.catalogueHeader
                h2 some Title
            div.catalogueContent
                div.catalogueSideBar
                    h3 CATEGORIES 
                    ul
                        li Brands
                        li Cars
                        li Car Type
                div.catalogueItems
                    div.catalogueItem
                        img(src='images/bmwm3gtr.jpg', alt="some picture")
                        h3 BMW M3 
                        p The BMW M3 is a high-performance version of the BMW 3 Series, developed by BMW's in-house motorsport division.
                    div
                    div
        div.container.footer