extends cataloguelayout

block container
	div.containerHome
		div.containerHomeHero
			div.wrapper
				div.containerHomeHero-desc
					h2 Cars with brand-new 
							span.fRed Quality
					p Get your car now, with limited discount offer and fast shipping to your home. 
				div.containerHomeHero-img
					img(src="/images/car-home.png")
		div.containerHomeContent
			div.wrapper.text
				h2 
					u Search By
					| :
			div.wrapper.group
				a.g1(href="/catalogue/brands")
					div
						h3 Brands
				a.g2(href="/catalogue/cars")
					div
						h3 Cars
				a.g3(href="/catalogue/cartypes")
					div
						h3 CarTypes

		