extends cataloguelayout

block container
	div.databaselist
		div.wrapper
			ul.lists.autoPadding
				li 
					a(href="brands") Brands
				li 
					a(href="cars") Cars
				li 
					a(href="carinstances") Car Instances
				li 
					a(href="cartypes") Car Types