extends cataloguelayout

block container
	div.databaselist
		div.wrapper
			ul.lists.autoPadding
				li 
					a(href="database/brands") Brands
				li 
					a(href="database/cars") Cars
				li 
					a(href="database/carinstances") Car Instances
				li 
					a(href="database/cartypes") Car Types